<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%title%></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  
</head>
<body>
  <div class="container">
    <form id="crud-form" action="/products/inventory" method="post" enctype="multipart/form-data">
      <div><h3>INVENTORY CRUD PAGE</h3></div>

      <div class="mb-3 hidden">
        <label for="_id" class="form-label" hidden>ID</label>
        <input type="text" name="_id" class="form-control" id="_id" aria-describedby="_id" hidden>
      </div>

      <div class="mb-3">

      <label class="form-label" for="category">Category:</label>
      <select id="category" class="form-control" name="category" >
        <option value="">Choose...</option>
        <option value="microphones">Microphones</option>
        <option value="instruments">Instruments</option>
        <option value="studio">Studio</option>
        <option value="parts">Parts</option>
        <option value="vintage">Vintage</option>
        <option value="misc">Misc</option>
      </select>

      </div>
      <div class="mb-3">
        <label for="modelType" class="form-label">Type</label>
        <input type="text" name="modelType" class="form-control" id="modelType" aria-describedby="type">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="name" aria-describedby="name">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea type="text" name="description" class="form-control" id="description" aria-describedby="description"rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Upload images</label>
        <input class="form-control" name="img" type="file" id="img" multiple>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" name="price" class="form-control" id="price" aria-describedby="price">
      </div>
      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" name="quantity" class="form-control" id="quantity" aria-describedby="quantity">
      </div>
      <div class="mb-3">
        <label for="instock" class="form-label">In Stock</label>
        <input class="form-check-input" name="instock" type="checkbox" value="true" id="instock" aria-describedby="instock">
        
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js"
    integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>
</body>
</html>