<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=locals.title %></title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/categorycard.css">

</head>
<body>
  <%-include('../components/header') %>

  <h2>Product Home Page</h2>
  <div class="product-categories">
  
    <a href="/products/microphones">
    <div class="category-card">
        <div class="card-img"><img src="images/products/microphone1.jpg" alt="microphone1"></div>
        <div class="card-title">
          <h4>Microphones</h4>
        </div>
      </div>
    </a>

    <a href="products/instruments">
      <div class="category-card">
        <div class="card-img"><img src="images/products/guitar-gibson.JPG" alt="gibson guitar"></div>
        <div class="card-title">
          <h4>Instruments</h4>
        </div>
      </div>
    </a>

    <a href="products/mixers">
      <div class="category-card">
        <div class="card-img"><img src="images/products/mixer-img.JPG" alt="mixer image"></div>
        <div class="card-title">
          <h4>Studio</h4>
        </div>
      </div>
    </a>

    <a href="products/parts">
      <div class="category-card">
        <div class="card-img"><img src="images/products/sony-parts3.JPG" alt=""></div>
        <div class="card-title">
          <h4>Parts</h4>
        </div>
      </div>
    </a>

    <a href="products/vintage">
      <div class="category-card">
        <div class="card-img"><img src="images/products/vintage-boombox.jpg" alt=""></div>
        <div class="card-title">
          <h4>Vintage</h4>
        </div>
      </div>
    </a>

    <a href="products/misc">
      <div class="category-card">
        <div class="card-img"><img src="images/products/vaccum-cleaners.jpg" alt=""></div>
        <div class="card-title">
          <h4>Misc</h4>
        </div>
      </div>
    </a>
    
  </div>
<%-include('../components/footer')%>
</body>
</html>