<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=locals.title %></title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/categorycard.css">

</head>
<body>
  <%-include('../components/header') %>
  <div class="pg-title m-5"> <h2>Product Home Page</h2></div>
  
   
<div class="container">
  <div class="row align-items-center">
    
    <div class="col category card">
      <a href="/products/microphones">
        <div class="card-img "><img src="images/products/microphone1.jpg" alt="microphone1"></div>
        <div class="card-title">
          <h4>Microphones</h4>
        </div>
      </a>
    </div>

    <div class="col category card">
        <a href="/products/instruments">
        <div class="card-img-top"><img src="images/products/guitar-gibson.JPG" alt="gibson guitar"></div>
        <div class="card-title">
          <h4>Instruments</h4>
        </div>
      </a>
    </div>

    <div class="col category card">
        <a href="/products/studio">
        <div class="card-img-top"><img src="images/products/mixer-img.JPG" alt="mixer image"></div>
        <div class="card-title">
          <h4>Studio</h4>
        </div>
      </a>
    </div>

  </div>

<div class="row align-items-center">

  <div class="col category card">
      <a href="/products/parts">
      <div class="card-img-top"><img src="images/products/sony-parts3.JPG" alt=""></div>
      <div class="card-title">
        <h4>Parts</h4>
      </div>
    </a>
  </div>

  <div class="col category card">
      <a href="/products/vintage">
      <div class="card-img-top"><img src="images/products/vintage-boombox.jpg" alt=""></div>
      <div class="card-title">
        <h4>Vintage</h4>
      </div>
    </a>
  </div>

  <div class="col category card">
      <a href="/products/misc">
      <div class="card-img-top"><img src="images/products/vaccum-cleaners.jpg" alt=""></div>
      <div class="card-title">
        <h4>Misc</h4>
      </div>
    </a>
  </div>

</div>
    
    <a href="./dashboard/inventory">
      <button class="btn btn-info btn-lg">update inventory</button>
    </a>

  </div>
<%-include('../components/footer')%>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js"
  integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>
</body>
</html>