<div class="sidebar-layout">
  <side>Sidebar</side>
  <main>
<% Product.forEach(element => { %>
  <div class="card-container">
    <div class="card">
      <div class="card-img">
        <img src="..." alt="product name">
      </div>
      <div class="card-title">
        <h4><%= element.name %></h4>
      </div>
      <div class="card-body">
        <p><%= element.description %></p>
        <p><%= element.price %></p>
      </div>
      <button type="submit" class="card-btn">Add to cart</button>
    </div>
  </div>
<% }) %>
    
  </main>
</div>