<h1><%=user.username%> Profile</h1>

<div class="avatar">
  <img src="/images/pages/buenavista.JPG" style="width: 10%;" alt="digital image">
</div>

<div class="cart">
  <div class="items">
  <div class="image">
    <img src="/images/products/camera-lens-angle1.jpg" style="width: 50em;" alt="camera lens">
  </div>
    <div class="product">
      <h4>sku</h4>
    </div>
    <div class="itemName">
      <h4>Name</h4>
    </div>
    <div class="price">
      <h4>price</h4>
    </div>
    <div class="quantity">
      <h4>quantity</h4>
    </div>
  </div>
    <div class="subtotal">
      <h4>Subtotal:</h4>
    </div>
    <div class="fees">
      <h4>Fees:</h4>
    </div>
    <div class="total">
      <h4>Total:</h4>
    </div>
</div>

<div class="text">
  <p><%= user.username %></p>
</div>