<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%%title  %></title>
  <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
  <%- include('../components/header') %>
  <%- include('../components/product-card') %>
</body>
</html>